.NavBar{
    background-color: rgb(207, 185, 185);
}

.nav__title{
    font-size: 30px;
    margin-top: 5px;
    margin-left: 2px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.categories{
    display: flex;
    justify-content: space-around;
    margin-left: 300px;
    margin-bottom: 8px;
    font-size: 20px;
    padding-left: 10px;
}

  