.NavBar{
    background-color: rgb(221, 214, 214);
    height: 80px;
    display: flex;
    justify-content: space-around;
}

.nav__link {
    margin-left: 50px;
    margin-top: 10px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.categories{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    padding-left: 10px;
}

.logo_alm{
    height: 65px;
    margin-left: auto;
    
}
  