.NavBar{
    background-color: hsla(0, 30%, 96%, 0.959);
    height: 80px;
    display: flex;
}

.nav__link {
    margin-left: 100px;
    margin-top: 10px;
    font-family: 'Roboto Serif', serif;
    color: black;
}

.categories{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    padding-left: 10px;
}

.logo_alm{
    height: 65px;
    margin-left: 15px;
}
  