* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Serif', serif;
}

html , body , #root {
  height: 100%;
}


#root {
  display: flex;
  flex-direction: column;
}

h1{
  font-size: 25px;
  margin-top: 15px;
  margin-left: 15px;
}

.footer {
  height: 50px;
  background: hsla(0, 17%, 77%, 0.959);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 450px;
  font-size: 16px;
}


