* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html , body , #root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}



h3{
  text-align: center;
  margin-top: 5px;
  color: blue;
}


.footer {
  height: 50px;
  background: #92a4df;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 450px;
}


