.Counter{
    display: flex;
    justify-content: center;
    width: 20%;
   
}

.Controls{
   width: 100%;
   
}

.Button{
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
   
    border: solid blue;
    border-radius: 4px;
    background-color: grey;
}

.add-carri{
    
    border: solid blue;
    border-radius: 4px;
    background-color: grey;
    width: 100%;
}

.Number{
    margin: 30px 15px;
}
