.Counter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 10%;
    margin-left: 150px;
}

.Controls{
   width: 100%;
   height: 3rem;
   display: flex;
   flex-direction: row;
   align-items: center;
}

.Button-dec{
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border: solid blue;
    border-radius: 4px;
    background-color: grey;
    height: 30px;
    width: 30px;
}

.Button-inc{
    text-align: center;
    align-items: center;
    padding-left: 7px;
    padding-right: 7px;
    border: solid blue;
    border-radius: 4px;
    background-color: grey;
    height: 30px;
    width: 29.5px;
}


.add-carri{
    border: solid blue;
    border-radius: 4px;
    background-color: grey;
    width: 200%;
    padding-left: 5px;
    padding-right: 5px;
    height: 30px ; 
}

.Number{
    margin: 30px 15px;
}
